---
import Layout from '../layouts/Layout.astro'
import Menace from '../components/Menace.astro'
---

<Layout
  title="Reinforcement Learning TicTacToe"
  description="Web-based implementation of a Reinforcement Learning algorithm playing an extended version of the TicTacToe game, where you can set grid size and strike lenght">


  <div class="container flex justify-center mt-10">
    <div x-data="{ visible: true, size: 3, strike: 3, strategy: 'best', learning: 'original', training: 'none' }" x-show="visible" class="max-w-6xl">

      <h1 class="text-center text-5xl font-bold text-gray-600 py-12">TicTacToe with Reinforcement Learning</h1>

      <p class="max-w-4xl mx-auto">
        Inspired by <a href="https://github.com/antirez">Salvatore Sanfilippo</a>
        educational <a href="https://www.youtube.com/watch?v=GfwFNKCys9c">video</a> on
        <a href="https://en.wikipedia.org/wiki/Matchbox_Educable_Noughts_and_Crosses_Engine">how matchboxes can learn to play tic-tac-toe</a>,
        here is a web-based implementation of the same approach, extended to have a configurable grid and strike sizes.
      </p>


      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col gap-y-4 w-full max-w-xs mx-auto mt-10">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="size">
            Grid size
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="grid-size" type="number" placeholder="IE: 3" value="3" name="size" x-model="size">
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="strike">
            Winning strike
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="winning-strike" type="number" placeholder="IE: 3" value="3" name="strike" x-model="strike">
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="learning">
            Learning method
          </label>
          <div>
            <div class="flex items-center">
                <input checked="checked" id="learning-original" type="radio" value="original" name="learning" x-model="learning">
                <label for="learning-original" class="ms-2 text-sm font-medium text-gray-600">Original (as per MENACE)</label>
            </div>
            <div class="flex items-center">
                <input disabled id="learning-neural-network" type="radio" value="neural-network" name="learning" x-model="learning">
                <label for="strategy-neural-network" class="ms-2 text-sm font-medium text-gray-300">Neural Network (coming soon)</label>
            </div>
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="training">
            Initial training
          </label>
          <div>
            <div class="flex items-center">
                <input checked="checked" id="training-none" type="radio" value="none" name="training" x-model="training">
                <label for="training-none" class="ms-2 text-sm font-medium text-gray-600">No training</label>
            </div>
            <div class="flex items-center">
                <input id="training-1k" type="radio" value="training-3x3" name="training" x-model="training">
                <label for="training-1k" class="ms-2 text-sm font-medium text-gray-600">With training for 3x3</label>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-center">
          <button @click="visible = false; $dispatch('newgame', [size,strike,strategy,learning,training])" class="relative flex h-12 items-center justify-center px-8
          before:absolute before:inset-0 before:rounded-full before:bg-teal-500 before:transition
          before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95
          ">
            <span class="relative text-base font-semibold text-white dark:text-dark">New Game</span>
          </button>
        </div>
      </div>
    </div>
  </div>


  <Menace />

</Layout>
